body {
    background-image: url("background-blur-book-268438.jpg");
    background-position: center;
    background-repeat: repeat
}

.container {
    height: 98vh;
    background-color: rgba(169, 169, 255, .8);
    overflow: auto;
}

button {
    width: 80px;
    height: 19px;
}

form {
    text-align: center;
    padding-top: 30px;
}

label {
    font-family: 'Roboto Slab', serif;
    font-size: 4vw;
}

input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-bottom: 2px solid rgb(255, 243, 143);
    font-size: 20px;
}

input[type=submit] {
    background-color: #c3c2ff;
    border-radius: 15px;
    height: 49px;
    width: 200px;
    font-size: 22px;
}

input[type=submit]:hover {
    background-color: #534FB2;
    color: #FFF;
    transition: background-color .2s ease-out;
    transition: color .1s ease-out;
}

.results {
    text-align: center;
}

.results > h1 {
    font-size: 4vw;
    margin-top: 30px;
}

.video {
    display: inline;
}

.videoWrapper{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.videoWrapper iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.definition {
    border: 3px groove grey;
    display: none;
    min-width: 640px;
    background-color: rgb(255, 243, 143);
    margin-bottom: 100px;
}

h2, h3 {
    font-family: 'Roboto Slab', serif;
}

p, table, dl {
    font-family: 'Roboto Condensed', sans-serif;
}

footer {
    position: absolute;
    bottom: 5%;
    display: block;
    text-align: center;
}

.ui-autocomplete {
  padding: 0;
  list-style: none;
  background-color: #fff;
  width: 218px;
  border: 1px solid #B0BECA;
  max-height: 350px;
  overflow-x: hidden;
}

.ui-autocomplete .ui-menu-item {
  border-top: 1px solid #B0BECA;
  display: block;
  padding: 4px 6px;
  color: #353D44;
  cursor: pointer;
}

.ui-autocomplete .ui-menu-item:first-child {
  border-top: none;
}

.ui-autocomplete .ui-menu-item.ui-state-focus {
  background-color: #D5E5F4;
  color: #161A1C;
}