* {
    font: bold
}

body, html {
    height: 100%;
}

body {
    background-image: url("background-blur-book-268438.jpg");
    background-position: center;
    background-repeat: repeat
}

.container {
    min-height: 100%;
    position: relative;
    background-color: rgba(169, 169, 255, .8)
}

button {
    width: 80px;
    height: 19px;
}

form {
    text-align: center;
    padding-top: 30px;
}

label {
    font-family: 'Roboto Slab', serif;
    font-size: 2vw;
}

input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-bottom: 2px solid rgb(255, 243, 143);
}

.results {
    text-align: center;
}

.video {
    display: inline;

}

.definition {
    border: 3px groove grey;
    display: none;
    min-width: 640px;
    background-color: rgb(255, 243, 143);
}

#wikiInfo {
    text-overflow: ellipsis;
}

.mw-parser-output {
    text-overflow: ellipsis;
}

h2, h3 {
    font-family: 'Roboto Slab', serif;
}

p, table, dl {
    font-family: 'Roboto Condensed', sans-serif;
}

footer {
    position: absolute;
    bottom: 0;
    display: block;
    text-align: center;
}

.ui-autocomplete {
  padding: 0;
  list-style: none;
  background-color: #fff;
  width: 218px;
  border: 1px solid #B0BECA;
  max-height: 350px;
  overflow-x: hidden;
}

.ui-autocomplete .ui-menu-item {
  border-top: 1px solid #B0BECA;
  display: block;
  padding: 4px 6px;
  color: #353D44;
  cursor: pointer;
}

.ui-autocomplete .ui-menu-item:first-child {
  border-top: none;
}

.ui-autocomplete .ui-menu-item.ui-state-focus {
  background-color: #D5E5F4;
  color: #161A1C;
}

